@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sides-color: #F7F7F7;
    --background-color: #FAFAFA; 
    --text-color: #1E1E1E; 
    --text-muted: #6D6D6D;
    --primary-color: #d93e3e; 
    --primary-hover-color: #e44141; 
    --secondary-color: #F1F1F1; 
    --secondary-hover-color: #E6E6E6; 
    --accent-color: #007BFF; 
    --accent-hover-color: #005BB5; 
    --warning-color: #EF4444; 
    --warning-hover-color: #C53030;
    --success-color: #10A37F; 
    --success-hover-color: #0D8563; 
    --border-color: #D9D9D9;
    --border-color-hover: #B8B8B8;
    --disabled-color: #F0F0F0; 
    --disabled-text-color: #A3A3A3; 
    --focus-color: #3399FF; 
    --card-color: #FFFFFF; 
    --card-hover-color: #F2F2F2; 
    --input-background-color: #FFFFFF; 
    --input-border-color: #D1D1D1; 
    --input-focus-border-color: #3399FF; 

    --wrench-color: #C04848;
    --hand-color: #121212;
}

[data-theme="dark"] {
    --sides-color: #121212;
    --background-color: #1C1C1C; 
    --text-color: #ECECEC; 
    --text-muted: #B8B8B8; 
    --primary-color: #C04848; 
    --primary-hover-color: #ca4c4c; 
    --secondary-color: #2C2C2C; 
    --secondary-hover-color: #3E3E3E; 
    --accent-color: #64B5F6; 
    --accent-hover-color: #42A5F5; 
    --warning-color: #EF4444; 
    --warning-hover-color: #D32F2F; 
    --success-color: #10A37F; 
    --success-hover-color: #0D8563;
    --border-color: #2F2F2F; 
    --border-color-hover: #474747; 
    --disabled-color: #242424; 
    --disabled-text-color: #757575; 
    --focus-color: #64B5F6; 
    --card-color: #242424; 
    --card-hover-color: #383838;
    --input-background-color: #1F1F1F;
    --input-border-color: #343434;
    --input-focus-border-color: #64B5F6; 

    --wrench-color: #D93E3E;
    --hand-color: #F7F7F7;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}